html {
	display: flex;
	justify-content: center;
	padding-top: 1vh;
}

body {
	min-width: 300px;
	width: 60%;
}

#head-pics {	
	margin-top: 5vh;
	height: 65vh;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-basis: 50%;	

	margin-bottom: 6vh;
}

#head-pics iframe, #head-pics img {
	margin: 0;
	width: auto;
	max-width: 50%;
	height: 100%;
	box-shadow: rgba(0,0,0,0.23) 0px 0px 15px 0.2px;
}

img {
	box-shadow: rgba(0,0,0,0.23) 0px 0px 15px 0.2px;
	max-height: 100%;
	max-width: 100%;
}

#pics {
	align-items: center;
	
	margin-top: 5vh;
	display: flex;
	
	width: 100%;
	max-height: 85vh;
}

#pics div {
	padding: 10px;
}

.comment {
	padding-top: 10px;
	border-bottom: 1px solid lightgray;
}

.comment:last-child {
	border-bottom: none;
	margin-bottom: 30px;
}

.comment span {
	float: right;
}

.comment a {
	text-decoration: none;
}